body {
  margin: 0px;
  overflow: hidden;
}

circle {
  fill: steelblue;
}

.line-path {
  fill: none;
  /* stroke: maroon; */
  stroke-width: 5;
  stroke-linejoin: round;
  stroke-linecap: round;
  mix-blend-mode: multiply;
}

.areas {
  /* fill: maroon; */
}



text {
  font-family: sans-serif;
}

.tick text {
  font-size: 1.7em;
  fill: #635F5D;
}

.tick line {
  stroke: #C0C0BB;
}

.axis-label {
  font-size: 2em;
  fill: #8E8883;
}

.title {
  font-size: 1.7em;
  fill: #635F5D;
}