   body {
      margin-top: 30px;
      font-size: 1.4rem;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 400;
      fill: #696969;
      text-align: center;
    }
    
    .timeLabel, .dayLabel {
		    font-size: 1.6rem;
		    fill: #AAAAAA;
		    font-weight: 300;
		}

    #nav-container {
      display: flex;
      justify-content: center;
      cursor: pointer;
    }

    #nav-container .left {
      margin-right: 20px;
    }

    #nav-container .right {
      margin-left: 20px;
    }